@keyframes introright {
    0% {
        left: 100%;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

.defaultPage{
       
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .bottom{
        display: flex;
        align-items: flex-start;
        width: 100%;

        .content{
            flex: 8;
        }
    }    

}