@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

.loginContainer {
    background-color: #d4eef2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 40vh;
    margin: 20px auto;
    @include pixel-borders($corner-size: 2,
        $border-color: #bbd1d4);

    .loginForm {
        display: flex;
        flex-direction: column;

        .formItem {
            display: flex;
            flex-direction: column;

            label {
                font-size: 16px;
                color: #767676;
            }

            input {
                font-size: 20px;
                padding: 5px;

                &:focus {
                    outline: none;
                }

                @include pixel-borders($corner-size: 2,
                    $border-color: #bbd1d4);
            }
        }

        .bottom {
            margin: 10px 0;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .signIn {
                font-size: 18px;
            }

            .loginButton {
                font-size: 20px;
                cursor: pointer;
                background-color: #42b4c9;
                @include pixel-borders($corner-size: 2,
                    $border-color: #42b4c9,
                );
            }
        }
    }

    hr {
        width: 100%;
        border: solid #bbd1d4;
    }

    .googleAuth {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .googleLogin {
            cursor: pointer;
            background-color: #42b4c9;
            @include pixel-borders($corner-size: 2,
                $border-color: #42b4c9,
            );
        }
    }
}