@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

.createPost {
    position: relative;
    animation-name: introright;
    animation-duration: 1s;

    margin: 20px;
    background-color: #d4eef2;
    padding: 20px;
    display: flex;
    flex-direction: column;

    box-shadow: 10px 10px 10px 1px #4754598a;
    

    @include pixel-borders($corner-size: 2,
        $border-color: #bbd1d4);

    
    .top{
        display: flex;
        flex-direction: column;
        padding: 20px;
        .postText {
            resize: vertical;
            padding: 20px;
            font-size: 18px;
            min-height: 10vh;
            @include pixel-borders($corner-size: 2,
                $border-color: #d4eef2);
            
            &:focus {
                outline: none;
            }
    
        }
    
        .postImg {
            margin-top: 20px;
            border-radius: 8px;
            height: auto;
            width: 100%;
            object-fit: cover;
    
        }
    }

    

    .postFooter {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;
        padding-right: 20px;

        .postfile {
            .file {
                display: flex;
                align-items: center;
                padding: 6px;
                fill: #42b4c9;
                cursor: pointer;
            }
        }

        .postButton {
            padding: 4px;
            font-size: 20px;
            background-color: #42b4c9;
            cursor: pointer;
            @include pixel-borders($corner-size: 2,
                $border-color: #42b4c9);

            &:hover{
                animation-name: shake;
                animation-duration: 0.8s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
            }
            
            &:active{
                animation-name: pop;
                animation-duration: 0.5s;
            }
        }
    }
}