@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

.formContainer {

    position: relative;
    animation-name: introright;
    animation-duration: 1.5s;

    display: flex;
    align-items: center;
    background-color: #d4eef2;
    padding: 20px;
    justify-content: space-around;
    gap: 64px;
    margin: 20px auto;

    @include pixel-borders($corner-size: 2,
        $border-color: #bbd1d4);

    .avatar {
        position: relative;
        img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
        .postfile{
            position: absolute;
            top: 180px;
            right: 30px;

            .fileInput{
                cursor: pointer;
            }
        }        
    }

    form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;

        .formItem{
            display: flex;
            flex-direction: column;
            
            label{
                font-size: 16px;
                color: #767676;
            }

            input{
                font-size: 20px;
                padding: 5px;
                &:focus{
                    outline: none;
                }
                @include pixel-borders(
                    $corner-size: 2,
                    $border-color: #bbd1d4);
            }
        }

        .submitButton{
            cursor: pointer;
            background-color: #42b4c9;
            @include pixel-borders(
                $corner-size: 2,
                $border-color: #42b4c9,
            );
        }
    }
}