@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

@keyframes introtop {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;
    }
}

.topBar {
    position: relative;
    animation-name: introtop;
    animation-duration: 1s;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #42B4C9;
    width: 100%;

    a{
        text-decoration: none;
    }

    .logo {
        font-family: 'Pixelify Sans', sans-serif;
        font-size: 60px;
        font-weight: 500;
        cursor: pointer;
        color: white;
        margin: 10px 20px;
    }


    .searchBar {
        font-size: large;
        @include pixel-borders($border-color: #bbd1d4,
        );

        input,
        button {
            border: none;
            background-color: #d4eef2;
            font-size: 24px;
            font-weight: 400;
            ::placeholder {
                color: whitesmoke;
                opacity: 1;
            }
            &:focus{
                outline: none;
            }
        }

        button {
            cursor: pointer;
            background-color: #bbd1d4;
        }
    }

    .userInfo {
        margin-right: 40px;

        .avatar {
            margin: 0;
            height: 60px;
            width: 60px;
            border-radius: 50%;     
            object-fit: cover;      
        }
    }
}