@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

@keyframes introcomments {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        transform: scale(0.7);
    }

    50%{
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.postCard {
    margin: 20px;
    background-color: #d4eef2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 90vh;

    @include pixel-borders($corner-size: 2,
        $border-color: #bbd1d4);

    .userInfo {
        display: flex;
        align-items: center;
        margin: 10px;
        gap: 10px;

        .avatar {
            border-radius: 50%;
            height: 60px;
            width: 60px;
        }
    }

    .postDate {
        font-family: 'Pixelify Sans', sans-serif;
        font-weight: 100;
        margin: 10px;
        font-size: 14px;
        color: grey;
    }

    .postContent {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .postText {
            text-align: justify;
            font-size: 18px;
        }

        .postImg {
            margin: 20px;
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }

    .postFooter {
        display: flex;
        gap: 20px;

        .likes,
        .comments {
            display: flex;
            gap: 10px;
            align-items: center;


            button {                
                border: none;
                padding: 5px;
                fill: #42b4c9;
                background-color: #d4eef2;
                cursor: pointer;
            }

            .amount {
                font-weight: 200;
            }
        }

    }
}

.buttonIcon{    
    animation-name: pop;
    animation-duration: 0.5s;
}

.commentSection {
    position: relative;
    animation-name: introcomments;
    animation-duration: 1s;

    padding: 20px;
    margin: 0 40px;
    background-color: #e0ecf1c9;

    display: flex;
    flex-direction: column;
    align-items: center;

    .top {
        margin: 0 20px 20px 20px;
        width: 100%;
        display: flex;
        @include pixel-borders($border-color: #bbd1d4,
        );

        .commentInput {
            width: 100%;
            margin: 0;
        }

        input,
        button {
            border: none;
            background-color: #d4eef2;
            font-size: 24px;
            font-weight: 400;

            ::placeholder {
                color: whitesmoke;
                opacity: 1;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            cursor: pointer;
            background-color: #bbd1d4;
        }
    }

    @include pixel-borders($corner-size: 2,
        $border-color: #e0ecf1c9);

    .comments {
        width: 100%;

        .comment {
            @include pixel-borders($corner-size: 2,
                $border-color: aliceblue);
            background-color: aliceblue;
            padding: 5px;
            display: flex;
            flex-direction: column;
            margin: 0 10px 10px 10px; 
            .userInfo {
                display: flex;
                align-items: center;
                gap: 8px;

                .avatar {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
            }


            .commentText {
                p{
                    font-size: 12px;
                }
                
            }
        }
    }
}