@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

.sideBar{
    margin: 20px;
    background-color: #a8cd23;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 142px;

    a{
        text-decoration: none;
        color: #000;
    }

    @include pixel-borders(
                $corner-size: 2, 
                $border-color: #95b520
            );
    .menu{
        margin: 10px;
        width: 100%;
        
        ul{
            max-height: 100%;
            list-style: none;
            padding: 0;
            width: 100%;
            li{
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 5px;
                cursor: pointer;
                width: 100%;

                &:hover{
                    background-color: #bbd65b;
                }
            }
        }
    }
}