@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

@keyframes introleft {
    0% {
        left: -100%;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

.sideBar {
    position: relative;
    animation-name: introleft;
    animation-duration: 1s;

    margin: 20px;
    background-color: #9FD0F6;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    a {
        text-decoration: none;
        color: #000;
    }

    

    @include pixel-borders($corner-size: 2,
        $border-color: #96B1E1);

    .menu {
        display: flex;
        margin: 10px;
        width: 100%;

        hr{
            height: 2px;
            border-width: 1;
            background-color: #96B1E1;
            color: #96B1E1;
        }

        ul {
            margin: 0;
            max-height: 100%;
            list-style: none;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 5px;
                cursor: pointer;
                padding: 10px;
                &:hover {
                    background-color: #d4eef2;
                    border-radius: 8px;
                }
            }
        }
    }
}